.flex {
  &__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & p {
      font-size: 1.35rem;
      cursor: pointer;
    }

    & .icon:hover {
      color: aqua;
    }
  }
}