.container {
  background-image: linear-gradient(
    345deg,
    hsl(316deg 84% 25%) 0%,
    hsl(308deg 97% 20%) 15%,
    hsl(298deg 100% 17%) 31%,
    hsl(286deg 100% 17%) 49%,
    hsl(272deg 100% 17%) 72%,
    hsl(247, 84%, 12%) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  min-height: auto;
  width: 90%;
  text-align: center;
  border: 5px solid hsl(0, 0%, 100%);
  padding: 1em 0;
  border-radius: 2em;

  &__background {
    position: absolute;
    top: 0;
    min-height: auto;
    width: 90%;
    border-radius: 2em;
    
  }

  &__bgimage{
      width: 100%;
      height: 80%;
  }
}
