.container {
    background-image: linear-gradient(
        345deg,
        hsl(316deg 84% 25%) 0%,
        hsl(304deg 63% 21%) 15%,
        hsl(284deg 53% 19%) 31%,
        hsl(263deg 49% 16%) 49%,
        hsl(242deg 48% 12%) 72%,
        hsl(234deg 100% 6%) 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  min-height: auto;
  width: 90%;
  text-align: center;
  border: 5px solid hsl(0, 0%, 100%);
  padding: 1em 0;
  border-radius: 2em;
  box-shadow: inset 9px 10px 199px -12px rgba(0,0,0,0.75);
//   box-shadow: 12px 14px 149px -42px rgb(39, 37, 37);

  &__background {
    position: absolute;
    top: 0;
    min-height: auto;
    width: 90%;
    border-radius: 2em;
    
  }

  &__bgimage{
      width: 100%;
      height: 80%;
  }
}
