.flex {
  &__songinfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1;
    margin-top: 2em;

    * {
      position: relative;
      z-index: 1;
    }
    p{
        margin: 0;
    }

  }

  
}
