@use "../util/" as u;

.flex {
    &__time {
        position: absolute;
        z-index: 1;
        display: flex;
        width: 40%;
        justify-content: center;
        bottom: u.em(239);
        // margin-left: 2em;

        p {
            padding: 0;
            margin-right: .75em;
        }
        
    }
    
}